/*font-family: 'Roboto', sans-serif;*/
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto';
    font-style: normal;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;

}

.hero {
    background-color: rgba(242, 206, 218, 0.3);
    height: 100vh;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

h1,
h1,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.wrapper {}

.header {
    padding-top: 16px;
    background-color: blueviolet;
}

.container {
    max-width: 1130px;
    padding: 0px 5px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    max-width: 1370px;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.logo {
    max-width: 187px;
    min-width: 81px;
}

.logo__pic {}

.nav {}

.nav__list {
    display: flex;
    column-gap: 36px;
}

.nav__item {
    border-bottom: 2px solid transparent;

}

.nav__item.active {
    border-bottom-color: white;
}


.nav__link {
    font-size: 16px;
    line-height: 1.13;
    color: white;
    transition: color 0.3s;
}

.nav__link:hover {
    opacity: 0.8;
}

.geoposition {}

.geo {}

.phone {}

.phone__number {}

.hero__headline {}

.hero__info {}

.title {}

.subtitle {}

.hero__buttons {}

.btn {}

.sale {}

.sale__element {}

.advantages {}

.advantage {}

.advantage__pic {}

.advantage__text {}